Usuario: {{ app.user.usuario }}
<a href="{{ path('inicio') }}">Home</a>
<a href="{{ path('amistades') }}">Amigos</a>
<a href="{{ path('logout') }}">Cerrar sesión</a>
{% if app.user and app.user.rol == 1 %}
    <a href="{{ path('nuevaCat') }}">Nueva categoría</a>
    <a href="{{ path('nuevoProd') }}">Nuevo Producto</a>
{% endif %}