<!DOCTYPE html>
<html>
<head>
    <title>Mi perfil</title>
      
</head>
<body>
    <h1>hola, angie</h1>
    <h1>{{ app.user.usuario }}</h1>
    <button>Editar perfil</button>
    <p>{{ app.user.nombre }} {{ app.user.apellido }}</p>
    
    <form action="{{ path('cambiarfotoperfil') }}" method="POST" enctype="multipart/form-data">
        <label for="fotoPerfil">Selecciona una foto de perfil:</label>
        <input type="file" name="foto_perfil" id="fotoPerfil" required />
        <button type="submit">Subir foto</button>
    </form>

    <img src="{{ asset('uploads/fotos_perfil/' ~ app.user.fotoPerfil) }}" alt="Foto de perfil"/>
</body>
</html>